#over {
    background-image: url("../img/apple_iphone_5s_front_silver.png");
    background-repeat: no-repeat;
    height: 700px;
    width: 414px;
    margin: 0 auto;
    position: relative;
}

iframe {
    height: 472px;
    width: 268px;
    position: absolute;
    top: 104px;
    left: 39px;
}